body {
font-family: "Open Sans", sans-serif;
}
#wrapper {
  margin-left: 200px;
}
#content {
  float: right;
  width: 780px;
  height: 800px;
}
#sidebar {
  float: left;
  width: 600px;
  height: 800px;
  margin-left:-200px;
  background-color: #ABEAFF;
}
#cleared {
  clear: both;
}
